<div class="game-listing">
	<div class="game-image">
		<img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2F9ZcK1oLHNGI%2Fhqdefault.jpg&f=1" />
	</div>
	<div class="listing-body">
		<div class="listing-header">
			<div class="listing-name">
				{{listing.name}}
			</div>
			<div class="listing-cost">
				{{listing.cost | currency}}
			</div>
			<div class="listing-contact">
				<a href="javascript:void(0)">Contact</a>
			</div>
		</div>
		<div class="listing-details">
			<div>
				{{listing.details}}
			</div>
		</div>
	</div>
</div>
